# based on the google styling
BasedOnStyle: LLVM

IndentWidth: 4
BinPackArguments: true
BinPackParameters: false

# No line wrapping
ColumnLimit: 81

# Indentation for continuation lines within braces
ContinuationIndentWidth: 4
AccessModifierOffset: -4
